section{
    display: flex;
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../../assets/home-landing.jpeg) no-repeat;
    background-size: cover;
}

.text-home{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: #FFF;
    height: 50vh;
}

.text-home p{
    max-width: 700px;
    font-size: 15px;
    font-weight: inherit;
}

.text-home{
    font-size: 40px;
}

.form-home{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.form-home h2{
    margin-bottom: 5px;
}

a{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 253px;
    height: 40px;
    margin-top: 8px;
    text-decoration: none;
    color: #FFF;
}

input{
    width: 250px;
    height: 30px;
    border: none;
    padding-left: 5px;
    margin-bottom: 10px;
}



form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    padding: 30px;
    background-color: #990033;
    border-radius: 2px;
}

form button{
    border: none;
    border-radius: 2px;
    background-color: black;
    color: #FFF;
    width: 250px;
    height: 30px;
    margin-top: 20px;
    cursor: pointer;
}

textarea{
    resize: none;
    width: 250px;
    height: 70px;
    border: none;
    padding-left: 5px;
}





@media(max-width: 650px){
    section{
        flex-direction: column;
    }

    .text-home{
        width: 95%;
    }

    .text-home p{
        font-size: 10px;
        text-align: center;
        width: 98%;
    }

    .text-home h1{
        font-size: 40px;
    }

    .form-home{
        width: 100%;
    }

    form{
        padding: 10px;
        margin-bottom: 10px;
    }
}