article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 50vh;
    color: #FFF;
}

article h2{
    font-weight: 100;
    margin-top: 20px;
}

.container-article{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container-article p{
    max-width: 600px;
}

.container-article a{
    border: 1px solid #FFF;
    width: 200px;
    margin-top: 40px;
}

.container-article a:hover{
    background-color: #FFF;
    color: black;
    transition: 0.3s all;
}





/* RESPONSIVE */

@media(max-width: 650px){
    h2{
        font-size: 15px;
        margin-left: 10px;
    }

    p{
        margin-left: 10px;
        font-size: 13px;
    }

    .container-article a{
        margin-bottom: 8px;
    }
}