.container-contato{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    height: 300px;
    text-align: center;
}


.card-services{
    display: flex;
}

.main-contato{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
}

.main-contato form{
    background-color: black;
}

.main-contato input{
    margin-top: 10px;
    border: 1px solid #FFF;
    color: #FFF;
    background-color: black;
    width: 300px;
    height: 40px;
}

.main-contato textarea{
    background-color: black;
    width: 300px;
    height: 80px;
    padding-top: 4px;
    border: 1px solid #FFF;
    color: #FFF;
}

.main-contato a{
    width: 100px;
    background-color: #990033;
}


textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.text-contato{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
}

.text-contato h3{
    font-weight: 100;
    font-size: 25px;
    margin-top: 35px;
    color: #990033;
    text-align: start;
    width: 250px;
}

.text-contato p{
    width: 250px;
    text-align: start;
    font-size: 13px;
}




/* RESPONSIVE */


@media(max-width: 800px){
    .container-contato{
        flex-direction: column-reverse;
        height: 500px;
    }

    .main-contato{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .text-contato{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .text-contato h3{
        text-align: center;
    }
    .text-contato p{
        text-align: center;
    }
}